@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
}

#create-new-post-form {
    width: 60rem;
    margin: 0 auto;
}

#create-new-post-form .form-field {
    margin-bottom: 1rem;
}

#create-new-post-form .label {
    font-weight: 700;
    font-size: 1.4rem;
}

#create-new-post-form .input{
    width: 100%;
    height: 3rem;
}

#create-new-post-form .textarea {
    width: 100%;
    resize: none;
    height: 35rem;
}

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heading-1 {
    margin: 3.5rem 0;
    font-size: 3.6rem;
    text-align: center;
}

.blog-post {
    width: 60rem;
    margin-bottom: 4.5rem;
}

.blog-post .blog-post-heading {
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
}

.blog-post .blog-post-body {
    font-size: 1.4rem;
}

.blog-post .blog-post-img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.button {
    height: 4.5rem;
    width: 100%;
    background-color: dodgerblue;
    color: #FFF;
    text-decoration: none;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.button.delete {
    background-color: #e30f0f;
}

.button.update {
    background-color: #ff4d00;
}

/* MODAL STYLES */

.modal-container {
    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    background: #44444450;
}

.modal-container .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: #FFF;
    height: 40rem;
    width: 60rem;
    border-radius: 0.5rem;
}