body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0em 2em 0em 2em;
  gap: 2em 2em;
}
@media screen and (min-width: 720px) {
  .wrapper {
    flex-flow: row wrap;
  }
}
