* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sign-up {
  width: 50%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 49.65%;
}
input[type="password"],
input[type="tel"] {
  width: 100%;
}
.paragraph {
  margin-bottom: 2rem;
}
button[type="submit"] {
  background: green;
  color: white;
  width: 50%;
  height: 2rem;
  font-size: larger;
}
