* {
    margin: 0px;
    padding: 0px;
    color: blue;
}

li {
    color: red;
}

#container div:first-child p:nth-child(2) {
    color: green;
}

ul+p {
    color: blueviolet;
    font-size: large;
    font-weight: bold;
    text-shadow: 3px;
}